@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

body {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.section {
    width: 70%;
    margin: auto;
}
.button {
    height: 60px;
    border: none;
    font-family: inherit;
    line-height: 160%;
    border-radius: 50px;
}
.button_demo {
    width: 210px;
    background: #FFFFFF;
    font-weight: 800;
    font-size: 16px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    letter-spacing: .005em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button_info {
    width: 170px;
    font-size: 18px;
    color: #FFFFFF;
}
.button_info_purple {
    background: #9C69E2;
    font-weight: 800;
    display: block;
}
.button_info_pink {
    background: #F063B8;
    font-weight: 900;
}

.link {
    text-decoration: none;
}

.header {
    font-family: 'Montserrat', sans-serif;
    padding: 50px 0px;
    display: flex;
    align-items: center;
}
.header__logo {
    width: 50px;
}
.header__nav {
    padding: 0px 81px;
}
.header__link {
    text-decoration: none;
}
.header__link_nav {
    padding: 0px 20px;
    font-size: 16px;
    line-height: 160%;
}
.header__link_about {
    font-weight: 800;
    color: #212353;
}
.header__link_other {
    font-weight: 500;
    color: #4B5D68;
}
.header__button {
    margin-left: auto;
}

.hero {
    /* width: 70%;
    margin: auto; */
    /* padding-bottom: 100px; */
    align-items: flex-end;
    display: flex;
    /* justify-content: space-between; */
}
.hero__content {
    flex-basis: 50%
}
.hero__content_text {
    display: flex;
    flex-direction: column;
}
.hero__headline {
    font-family: 'Helvetica', sans-serif;
    font-size: 67px;
    width: 100%;
}
.hero__text {
    width: 60%;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    /* padding: 50px 0px; */
}
.hero__img {
    width: 100%;
    height: auto;
    max-width: 885px;
    /* position: absolute;
    bottom: 0;
    left: 30%; */
}

.intro {
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    display: flex;
    margin: 102.18px auto;
    padding: 12% 8%;
}
.intro__text-container {
    width: 40%;
    padding: 93.18px 81px 100.82px 62px;
}
.intro__heading {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}
.intro__text {
    /* width: 474px; */
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    color: #4B5D68;
}
.intro__img {
    width: 400px;
}

.features {
    padding: 50px 0;
}
.features__title {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    color: #212353;
}
.features__text {
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #4B5D68;
    margin-bottom: 100px;
}
.features__grid {
    display: flex;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    /* width: 1118px; */
}
.features__grid-titles {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    size: 24px;
    line-height: 31.2px;
}
.features__grid-text {
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    width: 220px;
}
.features__grid-link {
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    text-decoration: none;
}
.features__cell {
    background-repeat: no-repeat;
    display: flex;
    background-size: contain;
    /* margin: 25px; */
    background-position: bottom right;
    padding: 50px 50px 33px 0;
    
    /* justify-content: space-around; */
}
.features__cell_search-data {
    background-image: url(../img/green-background.png);
}
.features__cell_24-hrs-access {
    background-image: url(../img/purple-background.png);
}
.features__cell_print-out {
    background-image: url(../img/red-background.png);
}
.features__cell_security-code {
    background-image: url(../img/blue-background.png);
}
.features__img {
    align-self: center;
    width: 240px;
}

.testimonials {
    background: #9C69E2;
    border-radius: 50px; 
    padding: 109px 0px 62px 93px;
}
.testimonials__title {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
}
.testimonials__carousel {
    display: flex;
    margin-bottom: 60px;
}
.testimonials__card {
    width: 645px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
    display: flex;
    margin-right: 20px;
    padding: 60px;
}
.testimonials__img {
    width: 90px;
    height: 90px;
}
.testimonials__name {
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
}
.testimonials__bio {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #9C69E2
}
.testimonials__text {
    width: 385px;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}
.testimonials__nav {
    display: flex;
}
.testimonials__slide {
    width: 5px;
}
.testimonials__next-prev {
    margin-left: auto;
}

.trial-banner {
    display: flex;
    padding: 100px 0px;
    border-top: 2px solid rgba(104, 66, 158, 0.2);
}
.trial-banner__title {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
.trial-banner__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}


.footer {
    display: flex;
    padding: 100px 0;
}
.footer__logo {
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
}
.footer__nav {
    display: flex;
    margin: 0px 140px 0px 50px;
}
.footer__link {
    display: block;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 600px) {
    .section {
        text-align: center;
    }

    .button {
        margin: auto;
    }

    .header {
        display: contents;
    }
    .header__logo {
        margin: auto;
    }
    .header__nav {
        padding: 5% 15%;
    }

    .hero {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .hero__img {
        display: none; 
    }
    .hero__text {
        width: 100%
    }
    .hero__headline {
        width: 100%;
        text-align: center;
        font-size: 30px;
    }

    .intro {
        text-align: center;
        display: block;
    }
    .intro__heading {
        font-size: 24px;
    }
    .intro__img {
        display: none;
    }
    .intro__text-container {
        display: contents;
    }

    .features__cell {
        display: contents;
    }
    .features__img {
        width: 100px;
    }

    .trial-banner {
        display: contents;
    }

    .footer {
        flex-wrap: wrap-reverse;
    }
    .footer__nav {
        display: contents;
    }
}